<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dancing_koala.samba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".providers.SambaAppWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.dancing_koala.samba.appwidget.CLICK" />
                <action android:name="com.dancing_koala.samba.music_service.MEDIA_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/samba_appwidget_info" />
        </receiver>

        <service
            android:name=".services.MusicService"
            android:enabled="true" />
    </application>

</manifest>